<!DOCTYPE html>
<html>
<head>
	<title>Vue js 3</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="global.js"></script>
</head>
<body>
	<header>
		<h2>Vue js 3 bangla tutorial</h2>
	</header>
	<div id="app">
        <button @click="toggle">Show/Hide</button>
        <br>
        <br>
        <div style="width: 100px; height: 100px; border: 2px solid black;" v-show="show"></div>
        <br>
        <p>Skills</p>
        <li v-for="(skill,i) in skills">
            {{i + 1}}.
            {{skill.name}}-
            <span v-if="skill.experience < 4">Beginner</span>
            <span v-else-if="skill.experience < 6">Proficient</span>
            <span v-else>Expert</span>

        </li>
        
	</div>

	<script src="app.js"></script>
    
</body>
</html>