<!DOCTYPE html>
<html>
<head>
	<title>Vue js 3</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="global.js"></script>
</head>
<body>
	<header>
		<h2>Vue js 3 bangla tutorial</h2>
	</header>
	<div id="app">
        <input type="text" v-model="newSkill"> <button @click="addSkill">add</button>
        
        <ul>
            <li v-for="(skill, i) in skills" @click="removeSkill(i)">{{skill}}</li>
        </ul>
	</div>

	<script src="app.js"></script>
    
</body>
</html>